{% extends 'top.html' %}


{% block title %} Update Product {% endblock %}

{%block address %}
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'index' %}">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Update Product</li>
  </ol>
{% endblock %}

{%block content%}
<div class="card-body">
    <span>{{msg}}</span>
    <div class="menu-upload-form">
        <form method="post" class="form-horizontal" enctype="multipart/form-data">
          {% csrf_token %}
        <div class="form-group">
            <label class="col-sm-2 control-label">Product Name</label>
            <div class="col-sm-10" style="max-width:36.3333%;">
                <input type="text" class="form-control" placeholder="Product Name" name="product_name" value="{{product_name}}" required >
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"> Update Image</label>
            <img src="{{file_name.url}}"  height="100px" width="200px"></td><br>
            <div class="col-sm-10" style="max-width:36.3333%;">
                <div class="form-control">
                    <span class="btn dark-input-button">
                        <input type="file" name="file_name" >
                        <i class="fa fa-file-archive-o"></i>
                    </span>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label">Category</label>
            <div class="col-sm-10" style="max-width:36.3333%;">
             <select name="category" class="form-control" required>
                    <option value="{{category.id}}">{{category.cat_name}}</option>
                    {% for i in cat_data%}
                    <option value="{{i.id}}">{{i.cat_name}}</option>
                    {% endfor %}
            </select>
            </div>
        </div><!-- Selection End -->


        <div class="form-group">
            <label class="col-sm-2 control-label">Product Descriptions</label>
            <div class="col-sm-10" style="max-width:36.3333%;">
                <textarea class="form-control" rows="3" placeholder="Add Descriptions..." name="product_details">{{description}}</textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-lg btn-primary" name="btn_update">Update</button>
            </div>
        </div>
    </form>
    </div>
</div>
{%endblock%}